{% extends 'base.html' %}
{% load static %}



{% block content %}
  <div class="untree_co-section bg-v-half-wrap">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-7 text-center heading mb-5">
          <span class="subtitle">Contact Us</span>
          <h2>Far far away, behind the word mountains, far from the countries .</h2>
        </div>
      </div>
    </div>
  </div>
  <div class="untree_co-section py-0">
    <div class="container">
      <div class="row mb-5">
        <div class="col-lg-4 mb-5 order-2 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
          <div class="contact-info">
            <div class="address mt-4">
              <i class="icon-room"></i>
              <h4 class="mb-2">Location:</h4>
              <p>43 Raymouth Rd. Baltemoer, London 3910</p>
            </div>
            <div class="open-hours mt-4">
              <i class="icon-clock-o"></i>
              <h4 class="mb-2">Open Hours:</h4>
              <p>
                Sunday-Friday:<br>
                11:00 AM - 2300 PM
              </p>
            </div>
            <div class="email mt-4">
              <i class="icon-envelope"></i>
              <h4 class="mb-2">Email:</h4>
              <p><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__"
                  data-cfemail="aac3c4ccc5eae9c5c6c5d8c6c3c8">[email&#160;protected]</a></p>
            </div>
            <div class="phone mt-4">
              <i class="icon-phone"></i>
              <h4 class="mb-2">Call:</h4>
              <p>+1 1234 55488 55</p>
            </div>
          </div>
        </div>
        <div class="col-lg-7 mr-auto order-1" data-aos="fade-up" data-aos-delay="200">
          <form action="#">
            <div class="row">
              <div class="col-6 mb-3">
                <input type="text" class="form-control" placeholder="Your Name">
              </div>
              <div class="col-6 mb-3">
                <input type="email" class="form-control" placeholder="Your Email">
              </div>
              <div class="col-12 mb-3">
                <input type="text" class="form-control" placeholder="Subject">
              </div>
              <div class="col-12 mb-3">
                <textarea name="" id="" cols="30" rows="7" class="form-control" placeholder="Message"></textarea>
              </div>
              <div class="col-12">
                <input type="submit" value="Send Message" class="btn btn-primary">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="untree_co-section">
    <div class="testimonial-grid">
      <div class="testimonial-image" data-aos="fade-right" data-aos-delay="100"
        style="background-image: url('images/office_1.jpg')"></div>
      <div class="testimonial-inner" data-aos="fade-left" data-aos-delay="200">
        <blockquote>
          &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
          blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
          ocean.&rdquo;
          <div class="person-image mt-3 d-flex align-items-center">
            <img src="images/person_1.jpg" alt="Image" class="img-fluid">
            <div>
              <span class="name">James Wilson</span>
              <span class="position">CEO, Co-Founder</span>
            </div>
          </div>
        </blockquote>
      </div>
    </div>
  </div>
  
  
  
  {% endblock %}