{% load static %}
    <nav class="site-nav mb-5">
        <div class="sticky-nav js-sticky-header">
            <div class="container position-relative">
                <div class="site-navigation text-center dark">
                    <a href="index-2.html" class="logo menu-absolute m-0">Inflatech<span class="text-primary">.</span></a>
                    <ul class="js-clone-nav pl-0 d-none d-lg-inline-block site-menu">
                        <li class="active"><a href="index-2.html">Home</a></li>
                        <li><a href="features.html">Features</a></li>
                        <li><a href="pricing.html">Pricing</a></li>
                        <li class="has-children">
                            <a href="services.html">Services</a>
                            <ul class="dropdown">
                                <li><a href="elements.html">Elements</a></li>
                                <li><a href="#">Web</a></li>
                                <li><a href="#">HTML</a></li>
                                <li><a href="#">CSS</a></li>
                                <li class="has-children">
                                    <a href="#">Menu Two</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Web</a></li>
                                        <li><a href="#">HTML</a></li>
                                        <li><a href="#">CSS</a></li>
                                    </ul>
                                </li>
                                <li><a href="#">Menu Three</a></li>
                            </ul>
                        </li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                    <div class="menu-icons">
                        <a href="#" class="btn-custom-search" id="btn-search">
                            <span class="icon-search2"></span>
                        </a>
                        <a href="#">
                            <span class="icon-twitter"></span>
                        </a>
                        <a href="#">
                            <span class="icon-facebook"></span>
                        </a>
                    </div>
                    <a href="#"
                        class="burger ml-auto float-right site-menu-toggle js-menu-toggle d-inline-block d-lg-none"
                        data-toggle="collapse" data-target="#main-navbar">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </nav>