{% extends 'base.html' %}
{% load static %}



{% block content %}
    <div class="hero d-block d-lg-flex align-items-center">
        <div class="image order-1 order-lg-2 h-100" style="background-image: url('{% static 'images/hero_bg_1.jpg' %}');"
            data-aos="fade">
            <div class="block">
                <span class="wrap-icon color-3">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                        <path
                            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                    </svg>
                </span>
                <h3>Modern Design</h3>
                <p>Far far away, behind the word mountains, far from the countries .</p>
            </div>
        </div>
        <div class="text order-2 order-lg-1 h-100 d-lg-flex justify-content-center">
            <div class="align-self-center text-center">
                <div class="intro mx-auto">
                    <h1 class="text-left" data-aos="fade-up">Build ERP and CRM systems of tommorow and increase your busines</h1>
                    <div class="row mb-5 mb-lg-0">
                        <div class="col-6 col-lg-6 text-left" data-aos="fade-up" data-aos-delay="100">
                            <div class="feature">
                                <span class="wrap-icon color-1">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lightning-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z" />
                                    </svg>
                                </span>
                                <h3>Creative</h3>
                                <p>Many innovative Ideas</p>
                            </div>
                        </div>
                        <div class="col-6 col-lg-6 text-left" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature">
                                <span class="wrap-icon color-2">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-life-preserver"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                        <path fill-rule="evenodd"
                                            d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z" />
                                        <path
                                            d="M11.642 6.343L15 5v6l-3.358-1.343A3.99 3.99 0 0 0 12 8a3.99 3.99 0 0 0-.358-1.657zM9.657 4.358L11 1H5l1.343 3.358A3.985 3.985 0 0 1 8 4c.59 0 1.152.128 1.657.358zM4.358 6.343L1 5v6l3.358-1.343A3.985 3.985 0 0 1 4 8c0-.59.128-1.152.358-1.657zm1.985 5.299L5 15h6l-1.343-3.358A3.984 3.984 0 0 1 8 12a3.99 3.99 0 0 1-1.657-.358z" />
                                    </svg>
                                </span>
                                <h3>Design</h3>
                                <p>The best of the designs</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="untree_co-section bg-light">
        <div class="bg-1"></div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center heading mb-5" data-aos="fade-up" data-aos-delay="0">
                    <span class="subtitle">Services</span>
                    <h2>The variety of range of services we provide</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 mx-auto mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <div class="feature">
                        <span class="wrap-icon color-3">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                <path
                                    d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                            </svg>
                        </span>
                        <h3>Custom Software Solutions</h3>
                        <p>Customize our products according to your specific needs.</p>
                    </div>
                </div>
                <div class="col-lg-3 pl-lg-5 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="200">
                    <div class="feature">
                        <span class="wrap-icon color-1">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-laptop" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M13.5 3h-11a.5.5 0 0 0-.5.5V11h12V3.5a.5.5 0 0 0-.5-.5zm-11-1A1.5 1.5 0 0 0 1 3.5V12h14V3.5A1.5 1.5 0 0 0 13.5 2h-11z" />
                                <path d="M0 12h16v.5a1.5 1.5 0 0 1-1.5 1.5h-13A1.5 1.5 0 0 1 0 12.5V12z" />
                            </svg>
                        </span>
                        <h3>Development</h3>
                        <p>Develope complete software solutions for your business</p>
                    </div>
                </div>
                <div class="col-lg-3 mb-4 mb-lg-0" data-aos="fade-up" data-aos-delay="300">
                    <div class="feature">
                        <span class="wrap-icon color-2">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                <path fill-rule="evenodd"
                                    d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                            </svg>
                        </span>
                        <h3>Our Products</h3>
                        <p>Choose from our variety of range of products sutaible for your specific business requirements</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="untree_co-grid">
            <a href="images/office_3.jpg" data-fancybox="gal" class="img img-1"
                style="background-image: url('{% static 'images/office_3.jpg' %} ')" data-aos="fade" data-aos-delay="0"></a>
            <a href="images/office_1.jpg" data-fancybox="gal" class="img img-2"
                style="background-image: url('{% static 'images/office_1.jpg' %} ')" data-aos="fade" data-aos-delay="100"></a>
            <a href="images/office_2.jpg" data-fancybox="gal" class="img img-3"
                style="background-image: url('{% static 'images/office_2.jpg' %} ')" data-aos="fade" data-aos-delay="200"></a>
            <a href="images/office_4.jpg" data-fancybox="gal" class="img img-4"
                style="background-image: url('{% static 'images/office_4.jpg' %} ')" data-aos="fade" data-aos-delay="300"></a>
            <a href="images/office_5.jpg" data-fancybox="gal" class="img img-5"
                style="background-image: url('{% static 'images/office_5.jpg' %} ')" data-aos="fade" data-aos-delay="400"></a>
        </div>
    </div>
    <div class="untree_co-section pricing-wrap">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center heading mb-5" data-aos="fade-up" data-aos-delay="0">
                    <span class="subtitle">Pricing for All</span>
                    <h2>Far far away, behind the word mountains, far from the countries .</h2>
                </div>
            </div>
            <div class="row no-gutters">
                <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="pricing color-1">
                        <h3>Free</h3>
                        <strong class="price">$0.00</strong>
                        <ul class="list-unstyled list mb-4">
                            <li>Basic Support</li>
                            <li>Migration Support</li>
                            <li>Dedicated Technical Support</li>
                            <li>Services</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary">Get started</a></p>
                    </div>
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="pricing color-2">
                        <h3>Premium</h3>
                        <strong class="price">$99.00</strong>
                        <ul class="list-unstyled list mb-4">
                            <li>Basic Support</li>
                            <li>Migration Support</li>
                            <li>Dedicated Technical Support</li>
                            <li>Services</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary">Get started</a></p>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-12 col-lg-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="pricing color-3">
                        <h3>Enterprise</h3>
                        <strong class="price">$180.00</strong>
                        <ul class="list-unstyled list mb-4">
                            <li>Basic Support</li>
                            <li>Migration Support</li>
                            <li>Dedicated Technical Support</li>
                            <li>Services</li>
                        </ul>
                        <p><a href="#" class="btn btn-primary">Get started</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="untree_co-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 heading mr-auto" data-aos="fade-up" data-aos-delay="0">
                    <span class="subtitle">About us</span>
                    <h2>Far far away, behind the word mountains, far from the countries .</h2>
                </div>
                <div class="col-lg-6">
                    <div class="row">
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="100">
                            <div class="feature">
                                <span class="wrap-icon color-3">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-building"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                            d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694L1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z" />
                                        <path
                                            d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z" />
                                    </svg>
                                </span>
                                <h3>Creativity</h3>
                                <p>Far far away, behind the word mountains, far from the countries .</p>
                            </div>
                        </div>
                        <div class="col-md-6" data-aos="fade-up" data-aos-delay="200">
                            <div class="feature">
                                <span class="wrap-icon color-2">
                                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill"
                                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                                        <path fill-rule="evenodd"
                                            d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                                    </svg>
                                </span>
                                <h3>Solutions</h3>
                                <p>Far far away, behind the word mountains, far from the countries .</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="untree_co-section">
        <div class="testimonial-grid">
            <div class="testimonial-image" data-aos="fade-right" data-aos-delay="100"
                style="background-image: url('{% static 'images/office_1.jpg' %}')"></div>
            <div class="testimonial-inner" data-aos="fade-left" data-aos-delay="200">
                <blockquote>
                    &ldquo;Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                    there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                    Semantics, a large language ocean.&rdquo;
                    <div class="person-image mt-3 d-flex align-items-center">
                        <img src="{% static 'images/person_1.jpg' %}" alt="Image" class="img-fluid">
                        <div>
                            <span class="name">James Wilson</span>
                            <span class="position">CEO, Co-Founder</span>
                        </div>
                    </div>
                </blockquote>
            </div>
        </div>
    </div>
   {% endblock %}